
.zara{
    height: 120px;
    width: 50px;
    border: 5px rgb(233, 9, 35);
    margin: 20px;
}


.country label{
    border: 5px blueviolet;
    margin: 20px;
    color: blue;
}
.country{
    height: 30px;
}


.home li a{
    list-style: none;
    text-decoration: none;
}