.container{
    display: flex;
    gap: 20px;
}
.box{
    background-color: aqua;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   
}
.item{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 10px solid blue ;
}
@media screen and (max-width:576px){

    flex-direction: column;
    
}
